<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../icons/icons8-project-management-32.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/5d397587b1.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Project</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <section class="header-top">
                <nav class="nav">

                    <div class="nav-logo">
                        <img src="../images/Interactive-ART.png" alt="Logo" class="nav-logo-img">
                    </div>

                    <ul class="menu">
                        <li class="menu-item"><a class="menu-link" href="#">Home</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#">About</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#HIW">How it works</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#">Clients</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#">Portfolio</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="header-link">Contact us</a>
                <span class="header-icon"><i class="fa fa-bars"></i></span>
            </section>

            <section class="header-bottom">
                <div class="header-content">
                    <div class="header-content-left">
                        <div class="header-content-general">
                            <h1 class="header-content-title">
                                Create a new generation website for your business
                            </h1>
                            <p class="header-content-text">
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered
                                alteration in some form, by injected humour, or randomised words which don't
                            </p>
                            <div class="header-bottom-links">
                                <a href="#" class="header-content-links">Contact us</a>
                                <a href="#" class="header-content-links">See our works</a>
                            </div>
                        </div>

                    </div>
                    <div class="header-content-right">
                        <img src="../images/header-img.svg" class="header-content-image" alt="Header-image">
                    </div>
                </div>

            </section>
        </div>

    </header>







    <main class="main">


        <section id="HIW" class="works">

            <div class="container"></div>

            <p class="works-header-top-subject">HOW IT WORKS</p>
            <h2 class="works-header-top-title">
                Three Simple Step To Started Working Process
            </h2>

            <div class="works-content">
                <div class="works-content-item">
                    <h4 class="works-content-item-header">Research Project</h4>
                    <p class="works-content-item-text">There are many variations of passages of Lorem Ipsum
                        available
                    </p>
                </div>
                <div class="works-content-item">
                    <h4 class="works-content-item-header">Targeting</h4>
                    <p class="works-content-item-text">There are many variations of passages of Lorem Ipsum
                        available</p>
                </div>
                <div class="works-content-item">
                    <h4 class="works-content-item-header">Research Project</h4>
                    <p class="works-content-item-text">There are many variations of passages of Lorem Ipsum
                        available</p>
                </div>
            </div>
            <div class="works-image">
                <img src="../images/main-img.svg" class="works-main-image" alt="image">
            </div>
            </div>
        </section>



        <section class="comment">
            <div class="container">
                <h2 class="person-comment-title">You’re in a good hand</h2>
                <p class="person-comment-text">There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered.</p>

                <div class="comment-container">

                    <div class="comments-content">
                        <div class="comment-content-item">
                            <div class="comment-text">
                                <p class="comment-content-item-body">Life before Company was very chaotic we got a lot
                                    of
                                    phone
                                    calls, a lot of mistyped orders. So with Company, the ability to see the order
                                    directly
                                    from
                                    the customer makes it so streamlined.</p>
                            </div>
                            <div class="comment-content-item-info">
                                <img src="../images/person-1.png" class="comment-content-item-info-image" alt="person1">
                                <p class="comment-content-item-info-text">Martin Jones, Creative Cons</p>
                            </div>
                        </div>
                        <div class="comment-content-item">
                            <div class="comment-text">
                                <p class="comment-content-item-body">Life before Company was very chaotic we got a lot
                                    of
                                    phone
                                    calls, a lot of mistyped orders. So with Company, the ability to see the order
                                    directly
                                    from
                                    the customer makes it so streamlined.</p>
                            </div>
                            <div class="comment-content-item-info">
                                <img src="../images/person-2.png" class="comment-content-item-info-image" alt="person1">
                                <p class="comment-content-item-info-text">Martin Jones, Creative Cons</p>
                            </div>
                        </div>
                        <div class="comment-content-item">
                            <div class="comment-text">
                                <p class="comment-content-item-body">Life before Company was very chaotic we got a lot
                                    of phone
                                    calls, a lot of mistyped orders. So with Company, the ability to see the order
                                    directly from
                                    the customer makes it so streamlined.</p>
                            </div>

                            <div class="comment-content-item-info">
                                <img src="../images/person-3.png" class="comment-content-item-info-image" alt="person1">
                                <p class="comment-content-item-info-text">Martin Jones, Creative Cons</p>
                            </div>
                        </div>
                    </div>
                    <div class="companies">
                        <img src="../images/logo-1.svg" alt="Logo" class="company">
                        <img src="../images/logo-2.svg" alt="Logo" class="company">
                        <img src="../images/logo-3.svg" alt="Logo" class="company">
                        <img src="../images/logo-4.svg" alt="Logo" class="company">
                        <img src="../images/logo-5.svg" alt="Logo" class="company">
                    </div>
                </div>

            </div>
        </section>

        <section class="portfolio">
            <div class="container">
                <h5 class="portfolio-text">PORTFOLIO</h5>
                <h2 class="portfolio-title">Three Simple Step To Started Working Process</h2>
                <div class="portfolio-content">
                    <div class="portfolio-content-item">
                        <img src="../images/portfolio-1.jpg" alt="image" class="portfolio-image">
                    </div>
                    <div class="portfolio-content-item">
                        <img src="../images/portfolio-2.jpg" alt="image" class="portfolio-image">
                    </div>
                    <div class="portfolio-content-item">
                        <img src="../images/portfolio-3.jpg" alt="image" class="portfolio-image">
                    </div>
                    <div class="portfolio-content-item">
                        <img src="../images/portfolio-4.jpg" alt="image" class="portfolio-image">
                    </div>
                    <div class="portfolio-content-item">
                        <img src="../images/portfolio-5.jpg" alt="image" class="portfolio-image">
                    </div>
                    <div class="portfolio-content-item">
                        <img src="../images/portfolio-6.jpg" alt="image" class="portfolio-image">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">

        <section class="news-letter">
            <div class="container">
                <div class="news-letter-content">
                    <h3 class="news-letter-text">Create a new generation website for your business.</h3>
                    <div class="news-letter-email">
                        <input type="email" placeholder="Email adress" class="email">
                        <button class="news-letter-btn">
                            <img src="../images/right-arrow.svg" alt="Right Arrow" class="news-letter-icon">
                        </button>

                    </div>
                </div>
            </div>
        </section>
        
        <section class="copy-right">
            <div class="container">
                <div class="copy-right-content">
                    
                 <p class="copy-right-text">Copyright © 2018-2019</p>
                 <p class="copy-right-text">Interactive ART Company All rights reserved</p>
                </div>
            </div>
           
        </section>
    </footer>


<script src="../js/app.js"></script>
</body>

</html>